<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BERT Demo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
      body{
        background-image: url('https://cdna.artstation.com/p/assets/images/images/022/521/258/original/bogdan-mb0sco-coffee-shop-animationfullhd.gif?1575731432')
      }
      /* body:hover{
        background-image: url('https://cdna.artstation.com/p/assets/images/images/022/521/258/original/bogdan-mb0sco-coffee-shop-animationfullhd.gif?1575731432')
      } */
    </style>
</head>
<body>
  <div class = "background-body">
    {% block body %} {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
            url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
    <script>window.Pace || document.write('<script src="{{ url_for('static', filename='pace.js') }}">\x3C/script>')</script>
    <script src="{{ url_for('static', filename='script.js') }}"> </script>
  </div>
</body>

</html>
